extends layout 

block content
    link(rel='stylesheet', href='/stylesheets/style.css')
    body
    h1= title
        p Edit your Employee
            if message
                ul
                    each value in message
                        li=value.msg
            
        div(class="form")
            form(method='POST', action=`/employees/${employee.id}/edit`)
                div(class="tableContent")
                    div(class="tableItem")
                        label(for="idNum") Employee ID
                        input(type="text", required, name="idNum" id="idNum", value=employee.idNum)
                    div(class="tableItem")
                        label(for="firstName") First Name
                        input(type="text", required, name="firstName" id="firstName", value=employee.firstName)
                    div(class="tableItem")
                        label(for="lastName") Last Name
                        input(type="text", required, name="lastName", id="lastName", value=employee.lastName)
                    div(class="tableItem")
                        label(for="email") Email
                        input(type="email", required, name="email", id="email", value=employee.email)
                    div(class="tableItem")
                        label(for="notes") Notes
                        textarea(id="notes", name="notes", rows="3", placeholder='Reason(s)')= employee.notes
                        
                    button(type="submit", class="button") Update
                    a(href='/employees/', id="cancel") Cancel
