extends layout 

block content
  body
    h1= title
        p Edit your contact
            if message
                ul
                    each value in message
                    li=value.msg

            form(method='POST', action=`/contacts/${contact.id}/edit`)
                div
                    div
                        label(for="firstName") First Name
                        input(type="text", required, name="firstName" id="firstName", value=contact.firstName)
                    div
                        label(for="lastName") Last Name
                        input(type="text", required, name="lastName", id="lastName", value=contact.lastName)
                    div
                        label(for="email") Email
                        input(type="email", required, name="email", id="email", value=contact.email)
                    div
                        label(for="notes") Notes
                        textarea(id="notes", name="notes", rows="3", placeholder='Notes - Can be blank')= contact.notes
                    
                    button(type="submit") Update
                    a(href='/contacts/') Cancel
